*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
*.lock
*-lock.json
coverage
node_modules
npm-debug.log
.env

#ignore local configuration
server/config.local.json
server/datasources.local.json
